@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.g-root_theme_light {
    --g-border-radius-xs: 0px;
    --g-border-radius-s: 0px;
    --g-border-radius-m: 0px;
    --g-border-radius-l: 0px;
    --g-border-radius-xl: 0px;
    
    --g-font-family-sans: 'Merriweather', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
    
    --g-color-private-white-50: rgba(255,255,255,0.05);
        --g-color-private-white-70: rgba(255,255,255,0.07);
        --g-color-private-white-100: rgba(255,255,255,0.1);
        --g-color-private-white-150: rgba(255,255,255,0.15);
        --g-color-private-white-200: rgba(255,255,255,0.2);
        --g-color-private-white-250: rgba(255,255,255,0.25);
        --g-color-private-white-300: rgba(255,255,255,0.3);
        --g-color-private-white-350: rgba(255,255,255,0.35);
        --g-color-private-white-400: rgba(255,255,255,0.4);
        --g-color-private-white-450: rgba(255,255,255,0.45);
        --g-color-private-white-500: rgba(255,255,255,0.5);
        --g-color-private-white-550: rgba(255,255,255,0.55);
        --g-color-private-white-600: rgba(255,255,255,0.6);
        --g-color-private-white-650: rgba(255,255,255,0.65);
        --g-color-private-white-700: rgba(255,255,255,0.7);
        --g-color-private-white-750: rgba(255,255,255,0.75);
        --g-color-private-white-800: rgba(255,255,255,0.8);
        --g-color-private-white-850: rgba(255,255,255,0.85);
        --g-color-private-white-900: rgba(255,255,255,0.9);
        --g-color-private-white-950: rgba(255,255,255,0.95);
        --g-color-private-white-550-solid: rgb(255,255,255);
        
        --g-color-private-black-50: rgba(0,0,0,0.05);
        --g-color-private-black-100: rgba(0,0,0,0.1);
        --g-color-private-black-150: rgba(0,0,0,0.15);
        --g-color-private-black-200: rgba(0,0,0,0.2);
        --g-color-private-black-250: rgba(0,0,0,0.25);
        --g-color-private-black-300: rgba(0,0,0,0.3);
        --g-color-private-black-350: rgba(0,0,0,0.35);
        --g-color-private-black-400: rgba(0,0,0,0.4);
        --g-color-private-black-450: rgba(0,0,0,0.45);
        --g-color-private-black-500: rgba(0,0,0,0.5);
        --g-color-private-black-550: rgba(0,0,0,0.55);
        --g-color-private-black-600: rgba(0,0,0,0.6);
        --g-color-private-black-650: rgba(0,0,0,0.65);
        --g-color-private-black-700: rgba(0,0,0,0.7);
        --g-color-private-black-750: rgba(0,0,0,0.75);
        --g-color-private-black-800: rgba(0,0,0,0.8);
        --g-color-private-black-850: rgba(0,0,0,0.85);
        --g-color-private-black-900: rgba(0,0,0,0.9);
        --g-color-private-black-950: rgba(0,0,0,0.95);
        --g-color-private-black-550-solid: rgb(85,85,84);
        --g-color-private-black-950-solid: rgb(9,10,9);
        --g-color-private-black-900-solid: rgb(19,19,19);
        --g-color-private-black-850-solid: rgb(28,29,28);
        --g-color-private-black-800-solid: rgb(38,38,37);
        --g-color-private-black-750-solid: rgb(47,48,47);
        --g-color-private-black-700-solid: rgb(56,57,56);
        --g-color-private-black-650-solid: rgb(66,67,65);
        --g-color-private-black-600-solid: rgb(75,76,75);
        --g-color-private-black-500-solid: rgb(94,95,94);
        --g-color-private-black-450-solid: rgb(103,105,103);
        --g-color-private-black-400-solid: rgb(113,114,112);
        --g-color-private-black-350-solid: rgb(122,124,122);
        --g-color-private-black-300-solid: rgb(132,133,131);
        --g-color-private-black-250-solid: rgb(141,143,140);
        --g-color-private-black-200-solid: rgb(150,152,150);
        --g-color-private-black-150-solid: rgb(160,162,159);
        --g-color-private-black-100-solid: rgb(169,171,168);
        --g-color-private-black-50-solid: rgb(179,181,178);
        
        --g-color-private-brand-50: rgba(49,78,60,0.1);
        --g-color-private-brand-100: rgba(49,78,60,0.15);
        --g-color-private-brand-150: rgba(49,78,60,0.2);
        --g-color-private-brand-200: rgba(49,78,60,0.3);
        --g-color-private-brand-250: rgba(49,78,60,0.4);
        --g-color-private-brand-300: rgba(49,78,60,0.5);
        --g-color-private-brand-350: rgba(49,78,60,0.6);
        --g-color-private-brand-400: rgba(49,78,60,0.7);
        --g-color-private-brand-450: rgba(49,78,60,0.8);
        --g-color-private-brand-500: rgba(49,78,60,0.9);
        --g-color-private-brand-550-solid: rgb(49,78,60);
        --g-color-private-brand-1000-solid: rgb(36,36,38);
        --g-color-private-brand-950-solid: rgb(37,39,39);
        --g-color-private-brand-900-solid: rgb(39,44,42);
        --g-color-private-brand-850-solid: rgb(40,49,44);
        --g-color-private-brand-800-solid: rgb(42,54,47);
        --g-color-private-brand-750-solid: rgb(43,58,50);
        --g-color-private-brand-700-solid: rgb(45,63,52);
        --g-color-private-brand-650-solid: rgb(46,68,55);
        --g-color-private-brand-600-solid: rgb(48,73,57);
        --g-color-private-brand-500-solid: rgb(63,89,73);
        --g-color-private-brand-450-solid: rgb(77,100,85);
        --g-color-private-brand-400-solid: rgb(91,112,98);
        --g-color-private-brand-350-solid: rgb(105,123,111);
        --g-color-private-brand-300-solid: rgb(119,134,124);
        --g-color-private-brand-250-solid: rgb(132,145,136);
        --g-color-private-brand-200-solid: rgb(146,156,149);
        --g-color-private-brand-150-solid: rgb(160,168,162);
        --g-color-private-brand-100-solid: rgb(167,173,168);
        --g-color-private-brand-50-solid: rgb(174,179,174);
        
        --g-color-private-orange-50: rgba(255,119,0,0.1);
        --g-color-private-orange-100: rgba(255,119,0,0.15);
        --g-color-private-orange-150: rgba(255,119,0,0.2);
        --g-color-private-orange-200: rgba(255,119,0,0.3);
        --g-color-private-orange-250: rgba(255,119,0,0.4);
        --g-color-private-orange-300: rgba(255,119,0,0.5);
        --g-color-private-orange-350: rgba(255,119,0,0.6);
        --g-color-private-orange-400: rgba(255,119,0,0.7);
        --g-color-private-orange-450: rgba(255,119,0,0.8);
        --g-color-private-orange-500: rgba(255,119,0,0.9);
        --g-color-private-orange-550-solid: rgb(255,119,0);
        --g-color-private-orange-1000-solid: rgb(67,43,29);
        --g-color-private-orange-950-solid: rgb(78,47,27);
        --g-color-private-orange-900-solid: rgb(100,56,24);
        --g-color-private-orange-850-solid: rgb(122,65,20);
        --g-color-private-orange-800-solid: rgb(145,74,17);
        --g-color-private-orange-750-solid: rgb(167,83,14);
        --g-color-private-orange-700-solid: rgb(189,92,10);
        --g-color-private-orange-650-solid: rgb(211,101,7);
        --g-color-private-orange-600-solid: rgb(233,110,3);
        --g-color-private-orange-500-solid: rgb(248,126,19);
        --g-color-private-orange-450-solid: rgb(242,133,37);
        --g-color-private-orange-400-solid: rgb(235,140,56);
        --g-color-private-orange-350-solid: rgb(228,147,75);
        --g-color-private-orange-300-solid: rgb(222,155,94);
        --g-color-private-orange-250-solid: rgb(215,162,112);
        --g-color-private-orange-200-solid: rgb(208,169,131);
        --g-color-private-orange-150-solid: rgb(201,176,150);
        --g-color-private-orange-100-solid: rgb(198,179,159);
        --g-color-private-orange-50-solid: rgb(195,183,168);
        
        --g-color-private-green-50: rgba(59,201,53,0.1);
        --g-color-private-green-100: rgba(59,201,53,0.15);
        --g-color-private-green-150: rgba(59,201,53,0.2);
        --g-color-private-green-200: rgba(59,201,53,0.3);
        --g-color-private-green-250: rgba(59,201,53,0.4);
        --g-color-private-green-300: rgba(59,201,53,0.5);
        --g-color-private-green-350: rgba(59,201,53,0.6);
        --g-color-private-green-400: rgba(59,201,53,0.7);
        --g-color-private-green-450: rgba(59,201,53,0.8);
        --g-color-private-green-500: rgba(59,201,53,0.9);
        --g-color-private-green-550-solid: rgb(59,201,53);
        --g-color-private-green-1000-solid: rgb(38,55,37);
        --g-color-private-green-950-solid: rgb(39,63,38);
        --g-color-private-green-900-solid: rgb(42,81,40);
        --g-color-private-green-850-solid: rgb(44,98,42);
        --g-color-private-green-800-solid: rgb(47,115,44);
        --g-color-private-green-750-solid: rgb(49,132,45);
        --g-color-private-green-700-solid: rgb(52,149,47);
        --g-color-private-green-650-solid: rgb(54,167,49);
        --g-color-private-green-600-solid: rgb(57,184,51);
        --g-color-private-green-500-solid: rgb(72,200,66);
        --g-color-private-green-450-solid: rgb(85,199,80);
        --g-color-private-green-400-solid: rgb(98,198,93);
        --g-color-private-green-350-solid: rgb(111,197,107);
        --g-color-private-green-300-solid: rgb(124,196,120);
        --g-color-private-green-250-solid: rgb(136,194,133);
        --g-color-private-green-200-solid: rgb(149,193,147);
        --g-color-private-green-150-solid: rgb(162,192,160);
        --g-color-private-green-100-solid: rgb(169,192,167);
        --g-color-private-green-50-solid: rgb(175,191,174);
        
        --g-color-private-yellow-50: rgba(255,219,77,0.1);
        --g-color-private-yellow-100: rgba(255,219,77,0.15);
        --g-color-private-yellow-150: rgba(255,219,77,0.2);
        --g-color-private-yellow-200: rgba(255,219,77,0.3);
        --g-color-private-yellow-250: rgba(255,219,77,0.4);
        --g-color-private-yellow-300: rgba(255,219,77,0.5);
        --g-color-private-yellow-350: rgba(255,219,77,0.6);
        --g-color-private-yellow-400: rgba(255,219,77,0.7);
        --g-color-private-yellow-450: rgba(255,219,77,0.8);
        --g-color-private-yellow-500: rgba(255,219,77,0.9);
        --g-color-private-yellow-550-solid: rgb(255,219,77);
        --g-color-private-yellow-1000-solid: rgb(67,58,40);
        --g-color-private-yellow-950-solid: rgb(78,67,43);
        --g-color-private-yellow-900-solid: rgb(100,86,47);
        --g-color-private-yellow-850-solid: rgb(122,105,51);
        --g-color-private-yellow-800-solid: rgb(145,124,56);
        --g-color-private-yellow-750-solid: rgb(167,143,60);
        --g-color-private-yellow-700-solid: rgb(189,162,64);
        --g-color-private-yellow-650-solid: rgb(211,181,68);
        --g-color-private-yellow-600-solid: rgb(233,200,73);
        --g-color-private-yellow-500-solid: rgb(248,216,88);
        --g-color-private-yellow-450-solid: rgb(242,213,99);
        --g-color-private-yellow-400-solid: rgb(235,210,110);
        --g-color-private-yellow-350-solid: rgb(228,207,121);
        --g-color-private-yellow-300-solid: rgb(222,205,132);
        --g-color-private-yellow-250-solid: rgb(215,202,143);
        --g-color-private-yellow-200-solid: rgb(208,199,154);
        --g-color-private-yellow-150-solid: rgb(201,196,165);
        --g-color-private-yellow-100-solid: rgb(198,194,171);
        --g-color-private-yellow-50-solid: rgb(195,193,176);
        
        --g-color-private-red-50: rgba(255,4,0,0.1);
        --g-color-private-red-100: rgba(255,4,0,0.15);
        --g-color-private-red-150: rgba(255,4,0,0.2);
        --g-color-private-red-200: rgba(255,4,0,0.3);
        --g-color-private-red-250: rgba(255,4,0,0.4);
        --g-color-private-red-300: rgba(255,4,0,0.5);
        --g-color-private-red-350: rgba(255,4,0,0.6);
        --g-color-private-red-400: rgba(255,4,0,0.7);
        --g-color-private-red-450: rgba(255,4,0,0.8);
        --g-color-private-red-500: rgba(255,4,0,0.9);
        --g-color-private-red-550-solid: rgb(255,4,0);
        --g-color-private-red-1000-solid: rgb(67,25,29);
        --g-color-private-red-950-solid: rgb(78,24,27);
        --g-color-private-red-900-solid: rgb(100,22,24);
        --g-color-private-red-850-solid: rgb(122,19,20);
        --g-color-private-red-800-solid: rgb(145,17,17);
        --g-color-private-red-750-solid: rgb(167,14,14);
        --g-color-private-red-700-solid: rgb(189,12,10);
        --g-color-private-red-650-solid: rgb(211,9,7);
        --g-color-private-red-600-solid: rgb(233,7,3);
        --g-color-private-red-500-solid: rgb(248,23,19);
        --g-color-private-red-450-solid: rgb(242,41,37);
        --g-color-private-red-400-solid: rgb(235,60,56);
        --g-color-private-red-350-solid: rgb(228,78,75);
        --g-color-private-red-300-solid: rgb(222,97,94);
        --g-color-private-red-250-solid: rgb(215,116,112);
        --g-color-private-red-200-solid: rgb(208,134,131);
        --g-color-private-red-150-solid: rgb(201,153,150);
        --g-color-private-red-100-solid: rgb(198,162,159);
        --g-color-private-red-50-solid: rgb(195,171,168);
        
        --g-color-private-blue-50: rgba(82,130,255,0.1);
        --g-color-private-blue-100: rgba(82,130,255,0.15);
        --g-color-private-blue-150: rgba(82,130,255,0.2);
        --g-color-private-blue-200: rgba(82,130,255,0.3);
        --g-color-private-blue-250: rgba(82,130,255,0.4);
        --g-color-private-blue-300: rgba(82,130,255,0.5);
        --g-color-private-blue-350: rgba(82,130,255,0.6);
        --g-color-private-blue-400: rgba(82,130,255,0.7);
        --g-color-private-blue-450: rgba(82,130,255,0.8);
        --g-color-private-blue-500: rgba(82,130,255,0.9);
        --g-color-private-blue-550-solid: rgb(82,130,255);
        --g-color-private-blue-1000-solid: rgb(41,44,67);
        --g-color-private-blue-950-solid: rgb(44,49,78);
        --g-color-private-blue-900-solid: rgb(48,59,100);
        --g-color-private-blue-850-solid: rgb(53,69,122);
        --g-color-private-blue-800-solid: rgb(58,80,145);
        --g-color-private-blue-750-solid: rgb(63,90,167);
        --g-color-private-blue-700-solid: rgb(68,100,189);
        --g-color-private-blue-650-solid: rgb(72,110,211);
        --g-color-private-blue-600-solid: rgb(77,120,233);
        --g-color-private-blue-500-solid: rgb(93,136,248);
        --g-color-private-blue-450-solid: rgb(103,142,241);
        --g-color-private-blue-400-solid: rgb(114,148,235);
        --g-color-private-blue-350-solid: rgb(124,154,228);
        --g-color-private-blue-300-solid: rgb(135,160,221);
        --g-color-private-blue-250-solid: rgb(146,166,214);
        --g-color-private-blue-200-solid: rgb(156,172,207);
        --g-color-private-blue-150-solid: rgb(167,178,201);
        --g-color-private-blue-100-solid: rgb(172,181,197);
        --g-color-private-blue-50-solid: rgb(177,184,194);
        
        --g-color-private-cool-grey-50: rgba(107,132,153,0.1);
        --g-color-private-cool-grey-100: rgba(107,132,153,0.15);
        --g-color-private-cool-grey-150: rgba(107,132,153,0.2);
        --g-color-private-cool-grey-200: rgba(107,132,153,0.3);
        --g-color-private-cool-grey-250: rgba(107,132,153,0.4);
        --g-color-private-cool-grey-300: rgba(107,132,153,0.5);
        --g-color-private-cool-grey-350: rgba(107,132,153,0.6);
        --g-color-private-cool-grey-400: rgba(107,132,153,0.7);
        --g-color-private-cool-grey-450: rgba(107,132,153,0.8);
        --g-color-private-cool-grey-500: rgba(107,132,153,0.9);
        --g-color-private-cool-grey-550-solid: rgb(107,132,153);
        --g-color-private-cool-grey-1000-solid: rgb(45,44,52);
        --g-color-private-cool-grey-950-solid: rgb(49,50,58);
        --g-color-private-cool-grey-900-solid: rgb(56,60,70);
        --g-color-private-cool-grey-850-solid: rgb(63,70,82);
        --g-color-private-cool-grey-800-solid: rgb(71,81,94);
        --g-color-private-cool-grey-750-solid: rgb(78,91,105);
        --g-color-private-cool-grey-700-solid: rgb(85,101,117);
        --g-color-private-cool-grey-650-solid: rgb(92,111,129);
        --g-color-private-cool-grey-600-solid: rgb(100,122,141);
        --g-color-private-cool-grey-500-solid: rgb(115,138,156);
        --g-color-private-cool-grey-450-solid: rgb(123,144,160);
        --g-color-private-cool-grey-400-solid: rgb(131,149,163);
        --g-color-private-cool-grey-350-solid: rgb(139,155,167);
        --g-color-private-cool-grey-300-solid: rgb(148,161,170);
        --g-color-private-cool-grey-250-solid: rgb(156,167,173);
        --g-color-private-cool-grey-200-solid: rgb(164,173,177);
        --g-color-private-cool-grey-150-solid: rgb(172,178,180);
        --g-color-private-cool-grey-100-solid: rgb(176,181,182);
        --g-color-private-cool-grey-50-solid: rgb(180,184,184);
        
        --g-color-private-purple-50: rgba(143,82,204,0.1);
        --g-color-private-purple-100: rgba(143,82,204,0.15);
        --g-color-private-purple-150: rgba(143,82,204,0.2);
        --g-color-private-purple-200: rgba(143,82,204,0.3);
        --g-color-private-purple-250: rgba(143,82,204,0.4);
        --g-color-private-purple-300: rgba(143,82,204,0.5);
        --g-color-private-purple-350: rgba(143,82,204,0.6);
        --g-color-private-purple-400: rgba(143,82,204,0.7);
        --g-color-private-purple-450: rgba(143,82,204,0.8);
        --g-color-private-purple-500: rgba(143,82,204,0.9);
        --g-color-private-purple-550-solid: rgb(143,82,204);
        --g-color-private-purple-1000-solid: rgb(50,37,60);
        --g-color-private-purple-950-solid: rgb(56,40,68);
        --g-color-private-purple-900-solid: rgb(67,45,85);
        --g-color-private-purple-850-solid: rgb(78,50,102);
        --g-color-private-purple-800-solid: rgb(89,56,119);
        --g-color-private-purple-750-solid: rgb(99,61,136);
        --g-color-private-purple-700-solid: rgb(110,66,153);
        --g-color-private-purple-650-solid: rgb(121,71,170);
        --g-color-private-purple-600-solid: rgb(132,77,187);
        --g-color-private-purple-500-solid: rgb(148,93,202);
        --g-color-private-purple-450-solid: rgb(152,104,201);
        --g-color-private-purple-400-solid: rgb(157,114,199);
        --g-color-private-purple-350-solid: rgb(161,125,197);
        --g-color-private-purple-300-solid: rgb(166,136,196);
        --g-color-private-purple-250-solid: rgb(170,147,194);
        --g-color-private-purple-200-solid: rgb(175,158,192);
        --g-color-private-purple-150-solid: rgb(179,168,190);
        --g-color-private-purple-100-solid: rgb(181,174,190);
        --g-color-private-purple-50-solid: rgb(184,179,189);
        
        
        --g-color-base-brand: rgb(49,78,60);
        --g-color-base-background: #BCBEBB;
        --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
        --g-color-base-selection: var(--g-color-private-brand-200);
        --g-color-base-selection-hover: var(--g-color-private-brand-300);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-contrast: rgb(255, 255, 255);
        --g-color-text-link: var(--g-color-private-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
        --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
        --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
}

.g-root_theme_dark {
    --g-border-radius-xs: 0px;
    --g-border-radius-s: 0px;
    --g-border-radius-m: 0px;
    --g-border-radius-l: 0px;
    --g-border-radius-xl: 0px;
    
    --g-font-family-sans: 'Merriweather', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --g-font-family-monospace: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
    
    --g-color-private-white-50: rgba(255,255,255,0.05);
        --g-color-private-white-70: rgba(255,255,255,0.07);
        --g-color-private-white-100: rgba(255,255,255,0.1);
        --g-color-private-white-150: rgba(255,255,255,0.15);
        --g-color-private-white-200: rgba(255,255,255,0.2);
        --g-color-private-white-250: rgba(255,255,255,0.25);
        --g-color-private-white-300: rgba(255,255,255,0.3);
        --g-color-private-white-350: rgba(255,255,255,0.35);
        --g-color-private-white-400: rgba(255,255,255,0.4);
        --g-color-private-white-450: rgba(255,255,255,0.45);
        --g-color-private-white-500: rgba(255,255,255,0.5);
        --g-color-private-white-550: rgba(255,255,255,0.55);
        --g-color-private-white-600: rgba(255,255,255,0.6);
        --g-color-private-white-650: rgba(255,255,255,0.65);
        --g-color-private-white-700: rgba(255,255,255,0.7);
        --g-color-private-white-750: rgba(255,255,255,0.75);
        --g-color-private-white-800: rgba(255,255,255,0.8);
        --g-color-private-white-850: rgba(255,255,255,0.85);
        --g-color-private-white-900: rgba(255,255,255,0.9);
        --g-color-private-white-950: rgba(255,255,255,0.95);
        --g-color-private-white-550-solid: rgb(156,153,156);
        --g-color-private-white-950-solid: rgb(244,244,244);
        --g-color-private-white-900-solid: rgb(233,232,233);
        --g-color-private-white-850-solid: rgb(222,221,222);
        --g-color-private-white-800-solid: rgb(211,210,211);
        --g-color-private-white-750-solid: rgb(200,199,200);
        --g-color-private-white-700-solid: rgb(189,187,189);
        --g-color-private-white-650-solid: rgb(178,176,178);
        --g-color-private-white-600-solid: rgb(167,165,167);
        --g-color-private-white-500-solid: rgb(145,142,145);
        --g-color-private-white-450-solid: rgb(133,131,133);
        --g-color-private-white-400-solid: rgb(122,119,122);
        --g-color-private-white-350-solid: rgb(111,108,111);
        --g-color-private-white-300-solid: rgb(100,97,100);
        --g-color-private-white-250-solid: rgb(89,86,89);
        --g-color-private-white-200-solid: rgb(78,74,78);
        --g-color-private-white-150-solid: rgb(67,63,67);
        --g-color-private-white-100-solid: rgb(56,52,56);
        --g-color-private-white-70-solid: rgb(49,45,49);
        --g-color-private-white-50-solid: rgb(45,40,45);
        --g-color-private-white-opaque-150: rgba(67,63,67,0.95);
        
        --g-color-private-black-20: rgba(0,0,0,0.02);
        --g-color-private-black-50: rgba(0,0,0,0.05);
        --g-color-private-black-100: rgba(0,0,0,0.1);
        --g-color-private-black-150: rgba(0,0,0,0.15);
        --g-color-private-black-200: rgba(0,0,0,0.2);
        --g-color-private-black-250: rgba(0,0,0,0.25);
        --g-color-private-black-300: rgba(0,0,0,0.3);
        --g-color-private-black-350: rgba(0,0,0,0.35);
        --g-color-private-black-400: rgba(0,0,0,0.4);
        --g-color-private-black-450: rgba(0,0,0,0.45);
        --g-color-private-black-500: rgba(0,0,0,0.5);
        --g-color-private-black-550: rgba(0,0,0,0.55);
        --g-color-private-black-600: rgba(0,0,0,0.6);
        --g-color-private-black-650: rgba(0,0,0,0.65);
        --g-color-private-black-700: rgba(0,0,0,0.7);
        --g-color-private-black-750: rgba(0,0,0,0.75);
        --g-color-private-black-800: rgba(0,0,0,0.8);
        --g-color-private-black-850: rgba(0,0,0,0.85);
        --g-color-private-black-900: rgba(0,0,0,0.9);
        --g-color-private-black-950: rgba(0,0,0,0.95);
        --g-color-private-black-550-solid: rgb(0,0,0);
        
        --g-color-private-brand-50: rgba(49,78,60,0.1);
        --g-color-private-brand-100: rgba(49,78,60,0.15);
        --g-color-private-brand-150: rgba(49,78,60,0.2);
        --g-color-private-brand-200: rgba(49,78,60,0.3);
        --g-color-private-brand-250: rgba(49,78,60,0.4);
        --g-color-private-brand-300: rgba(49,78,60,0.5);
        --g-color-private-brand-350: rgba(49,78,60,0.6);
        --g-color-private-brand-400: rgba(49,78,60,0.7);
        --g-color-private-brand-450: rgba(49,78,60,0.8);
        --g-color-private-brand-500: rgba(49,78,60,0.9);
        --g-color-private-brand-550-solid: rgb(49,78,60);
        --g-color-private-brand-1000-solid: rgb(167,173,168);
        --g-color-private-brand-950-solid: rgb(160,168,162);
        --g-color-private-brand-900-solid: rgb(146,156,149);
        --g-color-private-brand-850-solid: rgb(132,145,136);
        --g-color-private-brand-800-solid: rgb(119,134,124);
        --g-color-private-brand-750-solid: rgb(105,123,111);
        --g-color-private-brand-700-solid: rgb(91,112,98);
        --g-color-private-brand-650-solid: rgb(77,100,85);
        --g-color-private-brand-600-solid: rgb(63,89,73);
        --g-color-private-brand-500-solid: rgb(48,73,57);
        --g-color-private-brand-450-solid: rgb(46,68,55);
        --g-color-private-brand-400-solid: rgb(45,63,52);
        --g-color-private-brand-350-solid: rgb(43,58,50);
        --g-color-private-brand-300-solid: rgb(42,54,47);
        --g-color-private-brand-250-solid: rgb(40,49,44);
        --g-color-private-brand-200-solid: rgb(39,44,42);
        --g-color-private-brand-150-solid: rgb(37,39,39);
        --g-color-private-brand-100-solid: rgb(36,36,38);
        --g-color-private-brand-50-solid: rgb(36,34,37);
        
        --g-color-private-orange-50: rgba(200,99,12,0.1);
        --g-color-private-orange-100: rgba(200,99,12,0.15);
        --g-color-private-orange-150: rgba(200,99,12,0.2);
        --g-color-private-orange-200: rgba(200,99,12,0.3);
        --g-color-private-orange-250: rgba(200,99,12,0.4);
        --g-color-private-orange-300: rgba(200,99,12,0.5);
        --g-color-private-orange-350: rgba(200,99,12,0.6);
        --g-color-private-orange-400: rgba(200,99,12,0.7);
        --g-color-private-orange-450: rgba(200,99,12,0.8);
        --g-color-private-orange-500: rgba(200,99,12,0.9);
        --g-color-private-orange-550-solid: rgb(200,99,12);
        --g-color-private-orange-1000-solid: rgb(190,176,161);
        --g-color-private-orange-950-solid: rgb(190,172,152);
        --g-color-private-orange-900-solid: rgb(192,163,135);
        --g-color-private-orange-850-solid: rgb(193,154,117);
        --g-color-private-orange-800-solid: rgb(194,145,100);
        --g-color-private-orange-750-solid: rgb(195,135,82);
        --g-color-private-orange-700-solid: rgb(196,126,65);
        --g-color-private-orange-650-solid: rgb(198,117,47);
        --g-color-private-orange-600-solid: rgb(199,108,29);
        --g-color-private-orange-500-solid: rgb(183,92,14);
        --g-color-private-orange-450-solid: rgb(167,85,16);
        --g-color-private-orange-400-solid: rgb(150,78,19);
        --g-color-private-orange-350-solid: rgb(134,71,21);
        --g-color-private-orange-300-solid: rgb(117,64,23);
        --g-color-private-orange-250-solid: rgb(100,57,25);
        --g-color-private-orange-200-solid: rgb(84,50,27);
        --g-color-private-orange-150-solid: rgb(67,43,30);
        --g-color-private-orange-100-solid: rgb(59,40,31);
        --g-color-private-orange-50-solid: rgb(51,36,32);
        
        --g-color-private-green-50: rgba(91,181,87,0.1);
        --g-color-private-green-100: rgba(91,181,87,0.15);
        --g-color-private-green-150: rgba(91,181,87,0.2);
        --g-color-private-green-200: rgba(91,181,87,0.3);
        --g-color-private-green-250: rgba(91,181,87,0.4);
        --g-color-private-green-300: rgba(91,181,87,0.5);
        --g-color-private-green-350: rgba(91,181,87,0.6);
        --g-color-private-green-400: rgba(91,181,87,0.7);
        --g-color-private-green-450: rgba(91,181,87,0.8);
        --g-color-private-green-500: rgba(91,181,87,0.9);
        --g-color-private-green-550-solid: rgb(91,181,87);
        --g-color-private-green-1000-solid: rgb(173,189,172);
        --g-color-private-green-950-solid: rgb(169,188,167);
        --g-color-private-green-900-solid: rgb(159,187,157);
        --g-color-private-green-850-solid: rgb(149,186,147);
        --g-color-private-green-800-solid: rgb(140,186,137);
        --g-color-private-green-750-solid: rgb(130,185,127);
        --g-color-private-green-700-solid: rgb(120,184,117);
        --g-color-private-green-650-solid: rgb(110,183,107);
        --g-color-private-green-600-solid: rgb(101,182,97);
        --g-color-private-green-500-solid: rgb(85,166,82);
        --g-color-private-green-450-solid: rgb(80,151,76);
        --g-color-private-green-400-solid: rgb(74,135,71);
        --g-color-private-green-350-solid: rgb(68,120,66);
        --g-color-private-green-300-solid: rgb(63,105,61);
        --g-color-private-green-250-solid: rgb(57,90,55);
        --g-color-private-green-200-solid: rgb(51,75,50);
        --g-color-private-green-150-solid: rgb(45,59,45);
        --g-color-private-green-100-solid: rgb(43,52,42);
        --g-color-private-green-50-solid: rgb(40,44,39);
        
        --g-color-private-yellow-50: rgba(255,203,0,0.1);
        --g-color-private-yellow-100: rgba(255,203,0,0.15);
        --g-color-private-yellow-150: rgba(255,203,0,0.2);
        --g-color-private-yellow-200: rgba(255,203,0,0.3);
        --g-color-private-yellow-250: rgba(255,203,0,0.4);
        --g-color-private-yellow-300: rgba(255,203,0,0.5);
        --g-color-private-yellow-350: rgba(255,203,0,0.6);
        --g-color-private-yellow-400: rgba(255,203,0,0.7);
        --g-color-private-yellow-450: rgba(255,203,0,0.8);
        --g-color-private-yellow-500: rgba(255,203,0,0.9);
        --g-color-private-yellow-550-solid: rgb(255,203,0);
        --g-color-private-yellow-1000-solid: rgb(198,192,159);
        --g-color-private-yellow-950-solid: rgb(201,193,150);
        --g-color-private-yellow-900-solid: rgb(208,194,131);
        --g-color-private-yellow-850-solid: rgb(215,195,112);
        --g-color-private-yellow-800-solid: rgb(222,197,94);
        --g-color-private-yellow-750-solid: rgb(228,198,75);
        --g-color-private-yellow-700-solid: rgb(235,199,56);
        --g-color-private-yellow-650-solid: rgb(242,200,37);
        --g-color-private-yellow-600-solid: rgb(248,202,19);
        --g-color-private-yellow-500-solid: rgb(233,186,3);
        --g-color-private-yellow-450-solid: rgb(211,168,7);
        --g-color-private-yellow-400-solid: rgb(189,151,10);
        --g-color-private-yellow-350-solid: rgb(167,133,14);
        --g-color-private-yellow-300-solid: rgb(145,116,17);
        --g-color-private-yellow-250-solid: rgb(122,99,20);
        --g-color-private-yellow-200-solid: rgb(100,81,24);
        --g-color-private-yellow-150-solid: rgb(78,64,27);
        --g-color-private-yellow-100-solid: rgb(67,55,29);
        --g-color-private-yellow-50-solid: rgb(56,46,31);
        
        --g-color-private-red-50: rgba(232,73,69,0.1);
        --g-color-private-red-100: rgba(232,73,69,0.15);
        --g-color-private-red-150: rgba(232,73,69,0.2);
        --g-color-private-red-200: rgba(232,73,69,0.3);
        --g-color-private-red-250: rgba(232,73,69,0.4);
        --g-color-private-red-300: rgba(232,73,69,0.5);
        --g-color-private-red-350: rgba(232,73,69,0.6);
        --g-color-private-red-400: rgba(232,73,69,0.7);
        --g-color-private-red-450: rgba(232,73,69,0.8);
        --g-color-private-red-500: rgba(232,73,69,0.9);
        --g-color-private-red-550-solid: rgb(232,73,69);
        --g-color-private-red-1000-solid: rgb(195,172,169);
        --g-color-private-red-950-solid: rgb(197,167,163);
        --g-color-private-red-900-solid: rgb(201,155,152);
        --g-color-private-red-850-solid: rgb(206,143,140);
        --g-color-private-red-800-solid: rgb(210,132,128);
        --g-color-private-red-750-solid: rgb(214,120,116);
        --g-color-private-red-700-solid: rgb(219,108,104);
        --g-color-private-red-650-solid: rgb(223,96,93);
        --g-color-private-red-600-solid: rgb(228,85,81);
        --g-color-private-red-500-solid: rgb(212,69,66);
        --g-color-private-red-450-solid: rgb(192,64,62);
        --g-color-private-red-400-solid: rgb(173,60,59);
        --g-color-private-red-350-solid: rgb(153,55,55);
        --g-color-private-red-300-solid: rgb(133,51,52);
        --g-color-private-red-250-solid: rgb(113,47,48);
        --g-color-private-red-200-solid: rgb(93,42,45);
        --g-color-private-red-150-solid: rgb(74,38,41);
        --g-color-private-red-100-solid: rgb(64,36,39);
        --g-color-private-red-50-solid: rgb(54,33,38);
        
        --g-color-private-blue-50: rgba(82,130,255,0.1);
        --g-color-private-blue-100: rgba(82,130,255,0.15);
        --g-color-private-blue-150: rgba(82,130,255,0.2);
        --g-color-private-blue-200: rgba(82,130,255,0.3);
        --g-color-private-blue-250: rgba(82,130,255,0.4);
        --g-color-private-blue-300: rgba(82,130,255,0.5);
        --g-color-private-blue-350: rgba(82,130,255,0.6);
        --g-color-private-blue-400: rgba(82,130,255,0.7);
        --g-color-private-blue-450: rgba(82,130,255,0.8);
        --g-color-private-blue-500: rgba(82,130,255,0.9);
        --g-color-private-blue-550-solid: rgb(82,130,255);
        --g-color-private-blue-1000-solid: rgb(172,181,197);
        --g-color-private-blue-950-solid: rgb(167,178,201);
        --g-color-private-blue-900-solid: rgb(156,172,207);
        --g-color-private-blue-850-solid: rgb(146,166,214);
        --g-color-private-blue-800-solid: rgb(135,160,221);
        --g-color-private-blue-750-solid: rgb(124,154,228);
        --g-color-private-blue-700-solid: rgb(114,148,235);
        --g-color-private-blue-650-solid: rgb(103,142,241);
        --g-color-private-blue-600-solid: rgb(93,136,248);
        --g-color-private-blue-500-solid: rgb(77,120,233);
        --g-color-private-blue-450-solid: rgb(72,110,211);
        --g-color-private-blue-400-solid: rgb(68,100,189);
        --g-color-private-blue-350-solid: rgb(63,90,167);
        --g-color-private-blue-300-solid: rgb(58,80,145);
        --g-color-private-blue-250-solid: rgb(53,69,122);
        --g-color-private-blue-200-solid: rgb(48,59,100);
        --g-color-private-blue-150-solid: rgb(44,49,78);
        --g-color-private-blue-100-solid: rgb(41,44,67);
        --g-color-private-blue-50-solid: rgb(39,39,56);
        
        --g-color-private-cool-grey-50: rgba(96,128,156,0.1);
        --g-color-private-cool-grey-100: rgba(96,128,156,0.15);
        --g-color-private-cool-grey-150: rgba(96,128,156,0.2);
        --g-color-private-cool-grey-200: rgba(96,128,156,0.3);
        --g-color-private-cool-grey-250: rgba(96,128,156,0.4);
        --g-color-private-cool-grey-300: rgba(96,128,156,0.5);
        --g-color-private-cool-grey-350: rgba(96,128,156,0.6);
        --g-color-private-cool-grey-400: rgba(96,128,156,0.7);
        --g-color-private-cool-grey-450: rgba(96,128,156,0.8);
        --g-color-private-cool-grey-500: rgba(96,128,156,0.9);
        --g-color-private-cool-grey-550-solid: rgb(96,128,156);
        --g-color-private-cool-grey-1000-solid: rgb(174,181,182);
        --g-color-private-cool-grey-950-solid: rgb(170,178,181);
        --g-color-private-cool-grey-900-solid: rgb(160,171,178);
        --g-color-private-cool-grey-850-solid: rgb(151,165,175);
        --g-color-private-cool-grey-800-solid: rgb(142,159,172);
        --g-color-private-cool-grey-750-solid: rgb(133,153,168);
        --g-color-private-cool-grey-700-solid: rgb(124,147,165);
        --g-color-private-cool-grey-650-solid: rgb(114,140,162);
        --g-color-private-cool-grey-600-solid: rgb(105,134,159);
        --g-color-private-cool-grey-500-solid: rgb(90,118,144);
        --g-color-private-cool-grey-450-solid: rgb(84,108,132);
        --g-color-private-cool-grey-400-solid: rgb(77,98,119);
        --g-color-private-cool-grey-350-solid: rgb(71,88,107);
        --g-color-private-cool-grey-300-solid: rgb(65,79,95);
        --g-color-private-cool-grey-250-solid: rgb(59,69,83);
        --g-color-private-cool-grey-200-solid: rgb(53,59,71);
        --g-color-private-cool-grey-150-solid: rgb(46,49,58);
        --g-color-private-cool-grey-100-solid: rgb(43,44,52);
        --g-color-private-cool-grey-50-solid: rgb(40,39,46);
        
        --g-color-private-purple-50: rgba(143,82,204,0.1);
        --g-color-private-purple-100: rgba(143,82,204,0.15);
        --g-color-private-purple-150: rgba(143,82,204,0.2);
        --g-color-private-purple-200: rgba(143,82,204,0.3);
        --g-color-private-purple-250: rgba(143,82,204,0.4);
        --g-color-private-purple-300: rgba(143,82,204,0.5);
        --g-color-private-purple-350: rgba(143,82,204,0.6);
        --g-color-private-purple-400: rgba(143,82,204,0.7);
        --g-color-private-purple-450: rgba(143,82,204,0.8);
        --g-color-private-purple-500: rgba(143,82,204,0.9);
        --g-color-private-purple-550-solid: rgb(143,82,204);
        --g-color-private-purple-1000-solid: rgb(181,174,190);
        --g-color-private-purple-950-solid: rgb(179,168,190);
        --g-color-private-purple-900-solid: rgb(175,158,192);
        --g-color-private-purple-850-solid: rgb(170,147,194);
        --g-color-private-purple-800-solid: rgb(166,136,196);
        --g-color-private-purple-750-solid: rgb(161,125,197);
        --g-color-private-purple-700-solid: rgb(157,114,199);
        --g-color-private-purple-650-solid: rgb(152,104,201);
        --g-color-private-purple-600-solid: rgb(148,93,202);
        --g-color-private-purple-500-solid: rgb(132,77,187);
        --g-color-private-purple-450-solid: rgb(121,71,170);
        --g-color-private-purple-400-solid: rgb(110,66,153);
        --g-color-private-purple-350-solid: rgb(99,61,136);
        --g-color-private-purple-300-solid: rgb(89,56,119);
        --g-color-private-purple-250-solid: rgb(78,50,102);
        --g-color-private-purple-200-solid: rgb(67,45,85);
        --g-color-private-purple-150-solid: rgb(56,40,68);
        --g-color-private-purple-100-solid: rgb(50,37,60);
        --g-color-private-purple-50-solid: rgb(45,34,51);
        
        
        --g-color-base-brand: rgb(49,78,60);
        --g-color-base-background: rgb(34,29,34);
        --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
        --g-color-base-selection: var(--g-color-private-brand-150);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-brand-600-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
        --g-color-text-brand-contrast: rgb(255, 255, 255);
        --g-color-text-link: var(--g-color-private-brand-550-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
        --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
        --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
}